p{
    background-color: rgb(75, 191, 191);
}
div{
    background-color: rgb(149, 149, 214);
}
a{
    background-color: rgb(23, 192, 26);
}
.red{
background-color: aqua;
}
#first{
    color: bisque;
}